{{ ansible_managed | comment }}

# Default settings for postsrsd

# Local domain name.
# Addresses are rewritten to originate from this domain. The default value
# is taken from `postconf -h mydomain` and probably okay.
#
SRS_DOMAIN={{ postsrsd_domain }}

# Exclude additional domains.
# You may list domains which shall not be subjected to address rewriting.
# If a domain name starts with a dot, it matches all subdomains, but not
# the domain itself. Separate multiple domains by space or comma.
#
SRS_EXCLUDE_DOMAINS={{ postsrsd_exclude_domains | join(',') }}

# First separator character after SRS0 or SRS1.
# Can be one of: -+=
SRS_SEPARATOR={{ postsrsd_separator }}

# Secret key to sign rewritten addresses.
# When postsrsd is installed for the first time, a random secret is generated
# and stored in /etc/postsrsd.secret. For most installations, that's just fine.
#
SRS_SECRET={{ postsrsd_secret }}

# Length of hash to be used in rewritten addresses
SRS_HASHLENGTH={{ postsrsd_hashlength }}

# Minimum length of hash to accept when validating return addresses.
# When increasing SRS_HASHLENGTH, set this to its previous value and
# wait for the duration of SRS return address validity (21 days) before
# increading this value as well.
SRS_HASHMIN={{ postsrsd_hashmin }}

# Local ports for TCP list.
# These ports are used to bind the TCP list for postfix. If you change
# these, you have to modify the postfix settings accordingly. The ports
# are bound to the loopback interface, and should never be exposed on
# the internet.
#
SRS_FORWARD_PORT={{ postsrsd_forward_port }}
SRS_REVERSE_PORT={{ postsrsd_reverse_port }}

# Drop root privileges and run as another user after initialization.
# This is highly recommended as postsrsd handles untrusted input.
#
RUN_AS={{ postsrsd_runas }}

# Bind to this address
#
SRS_LISTEN_ADDR={{ postsrsd_listen_addr }}

# Jail daemon in chroot environment
CHROOT={{ postsrsd_chroot }}

