{{ ansible_managed | comment }}

driver = mysql
connect = host={{ postfixadmin_database_dovecot_hosts }} dbname={{ postfixadmin_database_name }} user={{ postfixadmin_database_dovecot_user }} password={{ postfixadmin_database_dovecot_password }}
default_pass_scheme = BLF-CRYPT
{% if postfixadmin_permit_localpart_login %}
{% set user_filter = "local_part = '%n'" %}
{% else %}
{% set user_filter = "username = '%u'" %}
{% endif %}
{% if postfixadmin_permit_inactive_user_nosmtp %}
# '%s'<>'smtp' permits login for inactive users, but only if the service is NOT smtp.
# This permits disabled users to still read their mail, but will not allow them to send mail.
password_query = SELECT username AS user,password FROM mailbox WHERE {{ user_filter }} AND ( active='1' OR '%s'<>'smtp' )
user_query = SELECT CONCAT('{{ virtual_mail_home }}', maildir) AS home, {{ virtual_mail_numeric_uid }} AS uid, {{ virtual_mail_numeric_gid }} AS gid, CONCAT('*:bytes=', quota) AS quota_rule FROM mailbox WHERE {{ user_filter }} AND ( active='1' OR '%s'<>'smtp' )
{% else %}
password_query = SELECT username AS user,password FROM mailbox WHERE {{ user_filter }} AND active='1'
user_query = SELECT CONCAT('{{ virtual_mail_home }}', maildir) AS home, {{ virtual_mail_numeric_uid }} AS uid, {{ virtual_mail_numeric_gid }} AS gid, CONCAT('*:bytes=', quota) AS quota_rule FROM mailbox WHERE {{ user_filter }} AND active='1'
{% endif %}