{{ ansible_managed | comment }}

# /etc/default/spamassassin
# Duncan Findlay

# WARNING: please read README.spamd before using.
# There may be security risks.

# Prior to version 3.4.2-1, spamd could be enabled by setting
# ENABLED=1 in this file. This is no longer supported. Instead, please
# use the update-rc.d command, invoked for example as "update-rc.d
# spamassassin enable", to enable the spamd service.

# Options
# See man spamd for possible options. The -d option is automatically added.

# SpamAssassin uses a preforking model, so be careful! You need to
# make sure --max-children is not set to anything higher than 5,
# unless you know what you're doing.

OPTIONS="--create-prefs --max-children 5 --helper-home-dir"

{% if spamassassin_nouser_config or spamassassin_virtual_config_dir is defined %}
OPTIONS="${OPTIONS} --nouser-config"
{% endif %}
{% if spamassassin_virtual_config_dir is defined %}
OPTIONS="${OPTIONS} --virtual-config-dir='{{ spamassassin_virtual_config_dir }}'"
{% endif %}
{% if spamassassin_spamd_user is defined %}
OPTIONS="${OPTIONS} -u {{ spamassassin_spamd_user }}"
{% endif %}

# Pid file
# Where should spamd write its PID to file? If you use the -u or
# --username option above, this needs to be writable by that user.
# Otherwise, the init script will not be able to shut spamd down.
PIDFILE="{{ spamassassin_pidfile }}"

# Set nice level of spamd
NICE="--nicelevel {{ spamassassin_niceness }}"

# Cronjob
# Set to anything but 0 to enable the cron job to automatically update
# spamassassin's rules on a nightly basis
CRON={{ spamassassin_enable_cron | ternary('1', '0') }}
