---
{{ ansible_managed | comment }}

# Setting default values for newly generated lists. Once a list is created it
# is not affected by these settings but has its own set of options in the
# database.
#
# The configuration format is yaml (http://www.yaml.org).
#
# Options are listed with the behaviour encoded in the database schema.

# Only send out encrypted emails to subscriptions?
# (This setting does not affect resend-messages.)
send_encrypted_only: {{ schleuder_defaults_send_encrypted_only }}

# Allow only encrypted emails? If true, any other email will be bounced.
receive_encrypted_only: {{ schleuder_defaults_receive_encrypted_only }}

# Allow only emails that are validly signed? If true, any other email will be
# bounced.
receive_signed_only: {{ schleuder_defaults_receive_signed_only }}

# Allow only emails that are validly signed by a subscriber's key?  If true,
# any other email will be bounced.
receive_authenticated_only: {{ schleuder_defaults_receive_authenticated_only }}

# Allow only emails being sent from subscribed addresses? If true, any other
# email will be bounced.
# NOTE: This is a very weak restriction mechanism on which you should not rely,
#       as sending addresses can easily be faked! We recommend you to rather
#       rely on the `receive_authenticated_only` option. Setting the
#       `receive_authenticated_only` option to true, will authenticate senders
#       based on the signature on the mail, which is the strongest
#       authentication mechanism you can get.
#       This option could be useful, if you would like to have a closed
#       mailinglist, but could not yet get all subscribers to properly use GPG.
receive_from_subscribed_emailaddresses_only: {{ schleuder_defaults_receive_from_subscribed_emailaddresses_only }}

# Allow only emails that are validly signed by a list-admin's key.
# This is useful for newsletters, announce or notification lists
receive_admin_only: {{ schleuder_defaults_receive_admin_only }}

# Which headers to include from the original mail.
headers_to_meta:
{% for header in schleuder_defaults_headers_to_meta %}
  - {{ header }}
{% endfor %}

# Preserve the Message-IDs (In-Reply-To, References) from the incoming email.
# This setting can lead to information leakage, as replies are connectable
# and a thread of (encrypted) messages can be built by an eavesdropper.
keep_msgid: {{ schleuder_defaults_keep_msgid }}

# Which keywords ("email-commands") should be restricted to list-admins?
keywords_admin_only:
{% for keyword in schleuder_defaults_keywords_admin_only %}
  - {{ keyword }}
{% endfor %}

# For which keywords should the list-admins receive a notice whenever it
# triggers a command.
keywords_admin_notify: 
{% for keyword in schleuder_defaults_keywords_admin_notify %}
  - {{ keyword }}
{% endfor %}

# Footer to append to each email that is sent to a subscribed address. Will not
# be included in messages to non-subscribed addresses.
internal_footer: {{ schleuder_defaults_internal_footer }}

# Footer to append to each email that is sent to non-subscribed addresses. Will
# not be included in messages to subscribed addresses.
public_footer: {{ schleuder_defaults_public_footer }}

# Prefix to be inserted into the subject of every email that is validly signed
# by a subscribed address.
subject_prefix: {{ schleuder_defaults_subject_prefix }}

# Prefix to be inserted into the subject of every email that is *not* validly
# signed by a subscribed address.
subject_prefix_in: {{ schleuder_defaults_subject_prefix_in }}

# Prefix to be inserted into the subject of every email that has been
# resent to a non-subscribed address.
subject_prefix_out: {{ schleuder_defaults_subject_prefix_out }}

# Drop any bounces (incoming emails not passing the receive_*_only-rules)?
bounces_drop_all: {{ schleuder_defaults_bounces_drop_all }}

# Drop bounces if they match one of these headers. Must be a hash, keys
# and values are case insensitive.
bounces_drop_on_headers:
{% for header, value in schleuder_defaults_bounces_drop_on_headers.items() %}
  {{ header }}: {{ value }}
{% endfor %}

# Send a notice to the list-admins whenever an email is bounced or dropped?
bounces_notify_admins: {{ schleuder_defaults_bounces_notify_admins }}

# Include RFC-compliant List-* Headers into emails?
include_list_headers: {{ schleuder_defaults_include_list_headers }}

# Include OpenPGP-Header into emails?
include_openpgp_header: {{ schleuder_defaults_include_openpgpg_header }}

# Preferred way to receive emails to note in OpenPGP-Header
# ('sign'|'encrypt'|'signencrypt'|'unprotected'|'none')
openpgp_header_preference: {{ schleuder_defaults_openpgpg_header_signencrypt }}

# Maximum size of emails allowed on the list, in kilobyte. All others will be
# bounced.
max_message_size_kb: {{ schleuder_defaults_max_message_size_kb }}

# How verbose to log on the list-level (Notifications will be sent to
# list-admins)? Error, warn, info, or debug.
log_level: {{ schleuder_defaults_log_level }}

# How many logfiles to keep, including the current one.
# Logfiles are rotated daily, so 2 means: delete logfiles older than
# yesterday.  Values lower than 1 are ignored.
logfiles_to_keep: {{ schleuder_defaults_logfiles_to_keep }}

# Which language to use for automated replies, error-messages, etc.
# Available: en, de.
language: {{ schleuder_defaults_language }}

# Forward a raw copy of all incoming emails to the list-admins?
# Mainly useful for debugging.
forward_all_incoming_to_admins: {{ schleuder_defaults_forward_all_incoming_to_admins }}
