---
{{ ansible_managed | comment }}

# Where are the list-directories stored (contain log-files and GnuPG-keyrings).
lists_dir: {{ schleuder_lists_dir }}

# Where to write list-logs. The actual log-file will be <lists_logs_base_dir>/<hostname>/<listname>/list.log.
listlogs_dir: {{ schleuder_listlogs_dir }}

# Schleuder reads plugins also from this directory.
plugins_dir: {{ schleuder_plugins_dir }}

# Schleuder reads filters also from this directory path,
# in the specific pre_decryption or post_decryption subdirectory.
# Filter files must follow the following convention for the
# filename: \d+_a_name.rb
# Where \d+ is any number, that defines the place in the
# list of filters and a_name must match the method name
# of the filter.
# The built-in filters are using round numbers for their
# positioning within the list. Increased by ten.
filters_dir: {{ schleuder_filters_dir }}

# How verbose should Schleuder log to syslog? (list-specific messages are written to the list's log-file).
log_level: {{ schleuder_log_level }}

# Which keyserver to refresh keys from (used by `schleuder refresh_keys`, meant
# to be run from cron weekly).
# Debian stretch (and all future versions) ship(s) with sensible
# keyserver defaults, therefore, use these:
keyserver: {{ schleuder_keyserver }}

# Who is maintaining the overall schleuder installation and should be
# notified about severe problems with lists.
# This address should be a postmaster-like account, especially it should
# not be another schleuder list.
# Is also used as an envelope sender of admin notifications.
superadmin: {{ schleuder_superadmin }}

# For these options see documentation for ActionMailer::smtp_settings, e.g. <http://api.rubyonrails.org/classes/ActionMailer/Base.html>.
smtp_settings:
  address: {{ schleuder_smtp_address }}
  port: {{ schleuder_smtp_port }}
{% if schleuder_smtp_helo_fqdn is defined %}
  domain: {{ schleuder_smtp_helo_fqdn }}
{% endif %}
{% if schleuder_smtp_auto_starttls is defined %}
  enable_starttls_auto: {{ schleuder_smtp_auto_starttls }}
{% endif %}
{% if schleuder_smtp_openssl_verify_mode is defined %}
  openssl_verify_mode: {{ schleuder_smtp_openssl_verify_mode }}
{% endif %}
{% if schleuder_smtp_username is defined %}
  authentication: {{ schleuder_smtp_authentication }}
  user_name: {{ schleuder_smtp_username }}
  password: {{ schleuder_smtp_password }}
{% endif %}

database:
  production:
    adapter:  'sqlite3'
    database: {{ schleuder_sqlite3_database }}
    timeout: {{ schleuder_sqlite3_timeout }}

api:
  host: {{ schleuder_api_host }}
  port: {{ schleuder_api_port }}
  # Certificate and key to use. You can create new ones with `schleuder cert generate`.
  tls_cert_file: {{ schleuder_api_tls_cert_file }}
  tls_key_file: {{ schleuder_api_tls_key_file }}
  valid_api_keys:
{% if schleuder_web_api_key is defined %}
    # Schleuder Web
    - {{ schleuder_web_api_key }}
{% endif %}
{% for user, data in schleuder_cli_users.items() %}
    # {{ user }}
    - {{ data.token }}
{% endfor %}
    # Additional keys
{% for key in schleuder_valid_api_keys %}
    - {{ key }}
{% endfor %}
