{{ ansible_managed | comment }}

[general]

# This is your HyperKitty installation, preferably on the localhost. This
# address will be used by Mailman to forward incoming emails to HyperKitty
# for archiving. It does not need to be publicly available, in fact it's
# better if it is not.
base_url: {{ mailman_hyperkitty_localhost_base_url }}

# Shared API key, must be the identical to the value in HyperKitty's
# settings.
api_key: {{ mailman_hyperkitty_api_key }}
