{{ ansible_managed | comment }}

# This file is imported by the Mailman Suite. It is used to override
# the default settings from /usr/share/mailman3-web/settings.py.

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ mailman_web_secret_key }}'

ADMINS = (
     ('{{ mailman_web_admin_name }}', '{{ mailman_web_admin_email }}'),
)

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.8/ref/settings/#allowed-hosts
# Set to '*' per default in the Deian package to allow all hostnames. Mailman3
# is meant to run behind a webserver reverse proxy anyway.
ALLOWED_HOSTS = [
    'localhost',  # Archiving API from Mailman
{% for domain in mailman_web_allowed_hosts %}
    '{{ domain }}',
{% endfor %}
]

# Mailman API credentials
MAILMAN_REST_API_URL = '{{ mailman_web_rest_api_url }}'
MAILMAN_REST_API_USER = '{{ mailman_webservice_admin_user }}'
MAILMAN_REST_API_PASS = '{{ mailman_webservice_admin_pass }}'
MAILMAN_ARCHIVER_KEY = '{{ mailman_hyperkitty_api_key }}'
MAILMAN_ARCHIVER_FROM = (
{% for ip in mailman_hyperkitty_api_acl %}
    '{{ ip }}',
{% endfor %}
)
    

# Application definition

INSTALLED_APPS = (
    'hyperkitty',
    'postorius',
    'django_mailman3',
    # Uncomment the next line to enable the admin:
    'django.contrib.admin',
    # Uncomment the next line to enable admin documentation:
    # 'django.contrib.admindocs',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'rest_framework',
    'django_gravatar',
    'compressor',
    'haystack',
    'django_extensions',
    'django_q',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
{% for socialaccount in mailman_web_auth_socialaccounts %}
    '{{ socialaccount }}',
{% endfor %}
)


# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        # Use 'sqlite3', 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'ENGINE': '{{ mailman_web_database_engine }}',
        # DB name or path to database file if using sqlite3.
        'NAME': '{{ mailman_web_database_name }}',
        # The following settings are not used with sqlite3:
        'USER': '{{ mailman_web_database_user }}',
        'PASSWORD': '{{ mailman_web_database_password }}',
        # HOST: empty for localhost through domain sockets or '127.0.0.1' for
        # localhost through TCP.
        'HOST': '{{ mailman_web_database_host }}',
        # PORT: set to empty string for default.
        'PORT': '{{ mailman_web_database_port }}',
        # OPTIONS: Extra parameters to use when connecting to the database.
        'OPTIONS': {{ mailman_web_database_options | to_nice_json(indent=4) | indent(8) }},
    }
}


# If you're behind a proxy, use the X-Forwarded-Host header
# See https://docs.djangoproject.com/en/1.8/ref/settings/#use-x-forwarded-host
USE_X_FORWARDED_HOST = True

# And if your proxy does your SSL encoding for you, set SECURE_PROXY_SSL_HEADER
# https://docs.djangoproject.com/en/1.8/ref/settings/#secure-proxy-ssl-header
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_SCHEME', 'https')

# Other security settings
# SECURE_SSL_REDIRECT = True
# If you set SECURE_SSL_REDIRECT to True, make sure the SECURE_REDIRECT_EXEMPT
# contains at least this line:
# SECURE_REDIRECT_EXEMPT = [
#     "archives/api/mailman/.*",  # Request from Mailman.
#     ]
# SESSION_COOKIE_SECURE = True
# SECURE_CONTENT_TYPE_NOSNIFF = True
# SECURE_BROWSER_XSS_FILTER = True
# CSRF_COOKIE_SECURE = True
# CSRF_COOKIE_HTTPONLY = True
# X_FRAME_OPTIONS = 'DENY'


# Internationalization
# https://docs.djangoproject.com/en/1.8/topics/i18n/

LANGUAGE_CODE = '{{ mailman_web_language }}'

TIME_ZONE = '{{ mailman_web_timezone }}'

USE_I18N = True
USE_L10N = True
USE_TZ = True


# Set default domain for email addresses.
EMAILNAME = '{{ mailman_web_emailname }}'

# If you enable internal authentication, this is the address that the emails
# will appear to be coming from. Make sure you set a valid domain name,
# otherwise the emails may get rejected.
# https://docs.djangoproject.com/en/1.8/ref/settings/#default-from-email
# DEFAULT_FROM_EMAIL = "mailing-lists@you-domain.org"
DEFAULT_FROM_EMAIL = 'mailman@{}'.format(EMAILNAME)

# If you enable email reporting for error messages, this is where those emails
# will appear to be coming from. Make sure you set a valid domain name,
# otherwise the emails may get rejected.
# https://docs.djangoproject.com/en/1.8/ref/settings/#std:setting-SERVER_EMAIL
# SERVER_EMAIL = 'root@your-domain.org'
SERVER_EMAIL = 'root@{}'.format(EMAILNAME)


# Django Allauth
ACCOUNT_DEFAULT_HTTP_PROTOCOL = "https"


#
# Social auth
#
SOCIALACCOUNT_PROVIDERS = {
    #'openid': {
    #    'SERVERS': [
    #        dict(id='yahoo',
    #             name='Yahoo',
    #             openid_url='http://me.yahoo.com'),
    #    ],
    #},
    #'google': {
    #    'SCOPE': ['profile', 'email'],
    #    'AUTH_PARAMS': {'access_type': 'online'},
    #},
    #'facebook': {
    #   'METHOD': 'oauth2',
    #   'SCOPE': ['email'],
    #   'FIELDS': [
    #       'email',
    #       'name',
    #       'first_name',
    #       'last_name',
    #       'locale',
    #       'timezone',
    #       ],
    #   'VERSION': 'v2.4',
    #},
}

# On a production setup, setting COMPRESS_OFFLINE to True will bring a
# significant performance improvement, as CSS files will not need to be
# recompiled on each requests. It means running an additional "compress"
# management command after each code upgrade.
# http://django-compressor.readthedocs.io/en/latest/usage/#offline-compression
COMPRESS_OFFLINE = {{ mailman_web_compress_online | ternary('True', 'False') }}

POSTORIUS_TEMPLATE_BASE_URL = '{{ mailman_web_base_url }}'
STATIC_URL = '{{ mailman_web_static_url }}'

{% if mailman_web_disable_gravatar %}
# hyperkitty<1.3.4: "Disable" gravatar by redirecting to local base url
GRAVATAR_SECURE_URL = '{{ mailman_web_base_url }}'
# hyperkitty>=1.3.4: Gravatar can be actually disabled
HYPERKITTY_ENABLE_GRAVATAR = False
{% endif %}

{% if mailman_web_disable_web_posting %}
HYPERKITTY_ALLOW_WEB_POSTING = False
{% endif %}

{% if mailman_web_override_templates %}
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': ['/var/lib/mailman3/web/templates'],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.i18n',
                'django.template.context_processors.media',
                'django.template.context_processors.static',
                'django.template.context_processors.tz',
                'django.template.context_processors.csrf',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
                'django_mailman3.context_processors.common',
                'hyperkitty.context_processors.common',
            ],
        },
    }
]
{% endif %}

{% if ansible_facts.distribution == 'Debian' and ansible_facts.distribution_major_version | int > 11 %}
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1037358
DEFAULT_AUTO_FIELD = 'django.db.models.AutoField'
Q_CLUSTER = {
    'retry': 900,
    'timeout': 300,
    'save_limit': 100,
    'orm': 'default',
}
{% endif %}