{{ ansible_managed | comment }}

SCHLEUDERWEB_CONFIG_FILE=/var/lib/schleuder-web/schleuder-web.yml
SCHLEUDERWEB_DB_FILE={{ schleuder_web_db_file }}
SCHLEUDER_API_HOST={{ schleuder_api_host }}
SCHLEUDER_API_PORT={{ schleuder_api_port }}
SCHLEUDER_TLS_FINGERPRINT={{ tls_fingerprint }}
SCHLEUDER_API_KEY={{ schleuder_web_api_key }}
SECRET_KEY_BASE={{ schleuder_web_secret_key_base }}

RAILS_LOG_TO_STDOUT=true
