#!/bin/bash
{{ ansible_managed | comment }}

DBPATH="{{ spamassassin_salearncron_dbpath }}"
SPAMBOX="{{ spamassassin_salearncron_spambox }}"
HAMBOX="{{ spamassassin_salearncron_hambox }}"

NOW=$(date +%s)
MAIL_TEMPLATE=$(cat <<EOF
From: {{ spamassassin_salearncron_mail_from }}
To: {{ spamassassin_salearncron_mail_to }}
Date: $(date -d @$NOW +"%a, %d %b %Y %H:%M:%S %z")
Subject: {{ spamassassin_salearncron_mail_subject }}
EOF
)
FILENAME="${NOW}.sa_learn,,"

for mailhome in /home/virtual/*/*/Maildir; do
    run=0
    args="--no-sync --dbpath $DBPATH"
    if [[ -d "$mailhome/$SPAMBOX/cur" && "$(find $mailhome/$SPAMBOX/cur -type f | wc -l)" -gt 0 ]]; then
	run=1
	args="$args --spam $mailhome/$SPAMBOX/cur"
    fi
    if [[ -d "$mailhome/$HAMBOX/cur" && "$(find $mailhome/$HAMBOX/cur -type f | wc -l)" -gt 0 ]]; then
	run=1
	args="$args --ham $mailhome/$HAMBOX/cur"
    fi
    if [[ "$run" -gt 0 ]]; then
	sa_learn=$(/usr/bin/sa-learn $args)
	[[ -d "$mailhome/$SPAMBOX/cur" ]] && find "$mailhome/$SPAMBOX/cur" -type f -delete
	[[ -d "$mailhome/$HAMBOX/cur" ]] && find "$mailhome/$HAMBOX/cur" -type f -delete
	echo -e "${MAIL_TEMPLATE}\n\n${sa_learn}" > "${mailhome}/new/$FILENAME"
    fi
done

/usr/bin/sa-learn --dbpath "$DBPATH" --sync --dump magic
chown debian-spamd:debian-spamd -R "$DBPATH"
