{{ ansible_managed | comment }}
# mailman_mysql_virtual_domains.cf
user = {{ mailman_database_postfix_user }}
password = {{ mailman_database_postfix_password }}
hosts = {{ mailman_database_postfix_hosts }}
dbname = {{ mailman_mariadb_database }}
query = SELECT mail_host FROM domain WHERE mail_host = '%s';
