{{ ansible_managed | comment }}
#  For a fully commented sample config file see policyd-spf.conf.commented

debugLevel = {{ postfix_policyd_spf_debuglevel }}
TestOnly = {{ postfix_policyd_spf_testonly }}

HELO_reject = {{ postfix_policyd_spf_helo_reject }}
Mail_From_reject = {{ postfix_policyd_spf_mail_from_reject }}

PermError_reject = {{ postfix_policyd_spf_permerror_reject }}
TempError_Defer = {{ postfix_policyd_spf_temperror_reject }}

skip_addresses = {{ postfix_policyd_spf_skip_addresses | join(',') }}

Void_Limit = {{ postfix_policyd_spf_void_limit }}
