{{ ansible_managed | comment }}
{% for user in passwd %}
{{ user.username -}}
:
{{- user.password -}}
{%- if not passdb_only | default(false) -%}
:
{{- user.uid | default('') -}}
:
{{- user.gid | default('') -}}
::
{{- user.home | default('') -}}
::
{{- user.extra_fields | default('') -}}
{%- endif %}

{% endfor %}