---
{{ ansible_managed | comment }}

host: "{{ postfix_mtastsresolver_host }}"
port: {{ postfix_mtastsresolver_port }}
{% if postfix_mtastsresolver_path is defined -%}
path: "{{ postfix_mtastsresolver_path }}"
mode: {{ postfix_mtastsresolver_mode }}
{% endif -%}
reuse_port: {{ postfix_mtastsresolver_reuse_port | ternary('true', 'false') }}
cache_grace: {{ postfix_mtastsresolver_cache_grace }}
shutdown_timeout: {{ postfix_mtastsresolver_shutdown_timeout }}
cache:
  type: "{{ postfix_mtastsresolver_cache_type }}"
  options:
{% if postfix_mtastsresolver_cache_type == 'internal' %}
    cache_size: {{ postfix_mtastsresolver_cache_internal_size }}
{% elif postfix_mtastsresolver_cache_type == 'sqlite' %}
    filename: "{{ postfix_mtastsresolver_cache_sqlite_filename }}"
    threads: {{ postfix_mtastsresolver_cache_sqlite_threads }}
    timeout: {{ postfix_mtastsresolver_cache_sqlite_timeout }}
{% elif postfix_mtastsresolver_cache_type == 'redis' %}
    {{ postfix_mtastsresolver_cache_redis_options | to_yaml(indent=2) | indent(4) }}
{% endif -%}
default_zone:
  strict_testing: {{ postfix_mtastsresolver_defaultzone_stricttesting | ternary('true', 'false') }}
  timeout: {{ postfix_mtastsresolver_defaultzone_timeout }}
zones:{% if postfix_mtastsresolver_zones | length == 0 %} {}{% endif %}
{% for zone, options in postfix_mtastsresolver_zones.items() %}
  {{ zone }}:
    strict_testing: {{ options.strict_testing | default(postfix_mtastsresolver_defaultzone_stricttesting) | ternary('true', 'false') }}
    timeout: {{ options.timeout | default(postfix_mtastsresolver_defaultzone_timeout) }}
{% endfor -%}
