<?php

{{ ansible_managed | comment(decoration='// ') }}

$CONF['configured'] = true;
{% if postfixadmin_setup_password_salt is defined %}
$CONF['setup_password'] = '{{ postfixadmin_setup_password | password_hash("bcrypt", postfixadmin_setup_password_salt) }}';
{% else %}
$CONF['setup_password'] = '{{ postfixadmin_setup_password | password_hash("bcrypt") }}';
{% endif %}

$CONF['default_language'] = '{{ postfixadmin_default_language }}';

$CONF['database_type'] = '{{ postfixadmin_database_type }}';
$CONF['database_host'] = '{{ postfixadmin_database_host }}';
$CONF['database_user'] = '{{ postfixadmin_database_user }}';
$CONF['database_password'] = '{{ postfixadmin_database_password }}';
$CONF['database_name'] = '{{ postfixadmin_database_name }}';
{% if postfixadmin_database_port %}
$CONF['database_port'] = '{{ postfixadmin_database_port }}';
{% endif %}
{% if postfixadmin_database_socket %}
$CONF['database_socket'] = '{{ postfixadmin_database_socket }}';
{% endif %}
$CONF['database_prefix'] = '{{ postfixadmin_database_prefix }}';

$CONF['admin_email'] = '{{ postfixadmin_admin_email }}';
$CONF['admin_name'] = '{{ postfixadmin_admin_name }}';

$CONF['smtp_server'] = '{{ postfixadmin_smtp_server }}';
$CONF['smtp_port'] = '{{ postfixadmin_smtp_port }}';
$CONF['smtp_client'] = '{{ postfixadmin_smtp_client }}';

$CONF['encrypt'] = '{{ postfixadmin_encrypt }}';
$CONF['password_validation'] = array(
{% for regex, error in postfixadmin_password_validation.items() %}
    '{{ regex }}' => '{{ error }}',
{% endfor %}
);
$CONF['forgotten_user_password_reset'] = {{ postfixadmin_forgotten_user_password_reset | ternary('true', 'false') }};
$CONF['forgotten_admin_password_reset'] = {{ postfixadmin_forgotten_admin_password_reset | ternary('true', 'false') }};
$CONF['generate_password'] = '{{ postfixadmin_generate_password | ternary('YES', 'NO') }}';
$CONF['show_password'] = '{{ postfixadmin_show_password | ternary('YES', 'NO') }}';
$CONF['password_expiration'] = '{{ postfixadmin_password_expiration | ternary('YES', 'NO') }}';

$CONF['page_size'] = '{{ postfixadmin_page_size }}';
$CONF['default_aliases'] = array (
{% for name, destination in postfixadmin_default_aliases.items() %}
    '{{ name }}' => '{{ destination }}',
{% endfor %}
);

$CONF['domain_path'] = '{{ postfixadmin_domain_path | ternary('YES', 'NO') }}';
$CONF['domain_in_mailbox'] = '{{ postfixadmin_domain_in_mailbox | ternary('YES', 'NO') }}';
$CONF['maildir_name_hook'] = 'NO';

$CONF['aliases'] = '{{ postfixadmin_aliases }}';
$CONF['mailboxes'] = '{{ postfixadmin_mailboxes }}';
$CONF['maxquota'] = '{{ postfixadmin_maxquota }}';
$CONF['domain_quota_default'] = '{{ postfixadmin_domain_quota_default }}';
$CONF['quota'] = '{{ postfixadmin_quota | ternary('YES', 'NO') }}';
$CONF['domain_quota'] = '{{ postfixadmin_domain_quota | ternary('YES', 'NO') }}';

$CONF['transport'] = '{{ postfixadmin_transport | ternary('YES', 'NO') }}';
$CONF['transport_options'] = array (
{% for transport in postfixadmin_transport_options %}
    '{{ transport }}',
{% endfor %}
);

$CONF['alias_domain'] = '{{ postfixadmin_alias_domain | ternary('YES', 'NO') }}';

$CONF['backup'] = '{{ postfixadmin_backup | ternary('YES', 'NO') }}';
$CONF['sendmail'] = '{{ postfixadmin_sendmail | ternary('YES', 'NO') }}';
$CONF['sendmail_all_admins'] = '{{ postfixadmin_sendmail_all_admins | ternary('YES', 'NO') }}';
$CONF['fetchmail'] = '{{ postfixadmin_fetchmail | ternary('YES', 'NO') }}';

$CONF['show_header_text'] = '{{ postfixadmin_show_header_text | ternary('YES', 'NO') }}';
$CONF['header_text'] = '{{ postfixadmin_header_text }}';
$CONF['show_footer_text'] = '{{ postfixadmin_show_footer_text | ternary('YES', 'NO') }}';
$CONF['footer_text'] = '{{ postfixadmin_footer_text }}';
$CONF['footer_link'] = '{{ postfixadmin_footer_link }}';
$CONF['emailcheck_resolve_domain']='{{ postfixadmin_emailcheck_resolve_domain | ternary('YES', 'NO') }}';
$CONF['welcome_text'] = <<<EOM
{{ postfixadmin_welcome_text }}
EOM;

$CONF['create_mailbox_subdirs_prefix']='{{ postfixadmin_create_mailbox_subdirs_prefix }}';

{{ postfixadmin_additional_config }}