---
{{ ansible_managed | comment }}

defaults: &defaults
  web_hostname: {{ schleuder_web_hostname }}
  mailer_from: {{ schleuder_web_mailfrom }}
  # For delivery_method, sendmail_settings and smtp_settings see
  # <http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration>.
  delivery_method: {{ schleuder_web_delivery_method }}
  sendmail_settings:
    arguments: '{{ schleuder_web_sendmail_arguments }}'
  smtp_settings:
    address: {{ schleuder_web_smtp_host }}
    port: {{schleuder_web_smtp_port }}
    enable_starttls_auto: {{ schleuder_web_smtp_auto_starttls }}
    openssl_verify_mode: {{ schleuder_web_smtp_openssl_verify_mode }}
    {% if schleuder_web_smtp_username is defined %}
    authentication: {{ schleuder_web_smtp_authentication }}
    user_name: {{ schleuder_web_smtp_username }}
    password: {{ schleuder_web_smtp_password }}
    {% endif %}
 
  api:
    host: <%= ENV["SCHLEUDER_API_HOST"] || 'localhost' %>
    port: <%= ENV["SCHLEUDER_API_PORT"] || 4443 %>
    tls_fingerprint: <%= ENV["SCHLEUDER_TLS_FINGERPRINT"] %>
  api_key: <%= ENV["SCHLEUDER_API_KEY"] %>
  superadmins:
{% for admin in schleuder_web_superadmins %}
    - {{ admin }}
{% endfor %}

test:
  <<: *defaults
  api:
    tls_fingerprint: <%= ENV["SCHLEUDER_TLS_FINGERPRINT"] || "6062f05f89384e5f2cda7ab3fc4f5af971d1c524187d90d8e3304e5e0ca6f853" %>
  api_key: <%= ENV["SCHLEUDER_API_KEY"] || "ii123456789ii" %>
  superadmins:
    - admin@localhost
    - someoneelse@example.net
development:
  <<: *defaults
  web_hostname: localhost:3000
production:
  <<: *defaults
