{{ ansible_managed | comment }}
# mysql_virtual_alias_domain_mailbox_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT maildir FROM mailbox,alias_domain WHERE alias_domain.alias_domain = '%d' and mailbox.username = CONCAT('%u', '@', alias_domain.target_domain) AND mailbox.active='1' AND alias_domain.active='1'

