{{ ansible_managed | comment }}
# mysql_virtual_alias_domain_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT goto FROM alias,alias_domain WHERE alias_domain.alias_domain = '%d' and alias.address = CONCAT('%u', '@', alias_domain.target_domain) AND alias.active='1' AND alias_domain.active='1'

