{{ ansible_managed | comment }}
# mysql_transport_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT transport FROM domain WHERE domain='%s' AND active = '1'

