{{ ansible_managed | comment }}
# mysql_relay_domains.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT domain FROM domain WHERE domain='%s' AND active = '1' AND (transport LIKE 'smtp%%' OR transport LIKE 'relay%%')
