{{ ansible_managed | comment }}
# mysql_virtual_mailbox_limit_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT quota FROM mailbox WHERE username='%s' AND active = '1'

