{{ ansible_managed | comment }}
# mysql_virtual_alias_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
query = SELECT goto FROM alias WHERE address='%s' AND active = '1'
#expansion_limit = 100

