{{ ansible_managed | comment }}
# mysql_virtual_domains_maps.cf
user = {{ postfixadmin_database_postfix_user }}
password = {{ postfixadmin_database_postfix_password }}
hosts = {{ postfixadmin_database_postfix_hosts }}
dbname = {{ postfixadmin_database_name }}
{% if postfixadmin_transport %}
# optional query to use for transport map support
query           = SELECT domain FROM domain WHERE domain='%s' AND active = '1' AND NOT (transport LIKE 'smtp%%' OR transport LIKE 'relay%%')
{% elif postfixadmin_backup %}
# optional query to use when relaying for backup MX
query           = SELECT domain FROM domain WHERE domain='%s' AND backupmx = '0' AND active = '1'
{% else %}
query           = SELECT domain FROM domain WHERE domain='%s' AND active = '1'
{% endif %}
