{{ ansible_managed | comment }}

{{ mailman_web_hyperkitty_cleanup_cron }} root /bin/bash -c '/usr/bin/mysql --defaults-extra-file=/root/.mysql.hyperkitty-cleanup.cnf "{{ mailman_web_database_name }}" <<<"DELETE FROM hyperkitty_lastview; DELETE FROM hyperkitty_vote;"'