{{ ansible_managed | comment }}

# http://www.postfix.org/COMPATIBILITY_README.html
compatibility_level = {{ postfix_compatibility_level }}

# Global options
recipient_delimiter = {{ postfix_recipient_delimiter }}
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
myhostname = {{ postfix_myhostname }}
mydomain = {{ postfix_mydomain }}
myorigin = {{ postfix_myorigin }}
mydestination = {{ postfix_mydestination | join(' ') }}
{% if postfix_smtp_bind_address is defined %}
smtp_bind_address = {{ postfix_smtp_bind_address }}
{% endif %}

# Mail relay config

transport_maps =
{% if postfix_mailman_enable %}
	hash:/var/lib/mailman3/data/postfix_lmtp,
{% endif %}
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_transport_maps.cf,
{% endif %}
{% for map in postfix_additional_transport_maps %}
	{{ map }},
{% endfor %}
relay_domains =
{% if postfix_mailman_enable %}
	hash:/var/lib/mailman3/data/postfix_domains,
{% endif %}
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_relay_domains.cf,
{% endif %}
{% for domain in postfix_additional_relay_domains %}
	{{ domain }},
{% endfor %}

{% if postfix_enable_virtual_mail %}
# Virtual mail domains
virtual_mailbox_domains =
{% if postfix_mailman_enable %}
	proxy:mysql:/etc/postfix/sql/mailman_mysql_virtual_domains.cf,
{% endif %}
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_virtual_domains_maps.cf,
{% endif %}
virtual_mailbox_base = {{ virtual_mail_home }}
virtual_mailbox_maps =
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_virtual_mailbox_maps.cf,
	proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_mailbox_maps.cf,
{% endif %}
virtual_minimum_uid = {{ virtual_minimum_uid }}
virtual_uid_maps = static:{{ virtual_mail_numeric_uid }}
virtual_gid_maps = static:{{ virtual_mail_numeric_gid }}
virtual_alias_maps =
{% if postfix_mailman_enable %}
	hash:/var/lib/mailman3/data/postfix_vmap,
{% endif %}
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_maps.cf,
	proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_maps.cf,
	proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_catchall_maps.cf,
{% endif %}
{% endif %}

# SASL
smtpd_sasl_type = {{ postfix_smtpd_sasl_type }}
smtpd_sasl_auth_enable = {{ postfix_smtpd_sasl_auth_enable }}
smtpd_sasl_path = {{ postfix_smtpd_sasl_path }}
smtpd_sasl_local_domain = {{ postfix_smtpd_sasl_local_domain }}
smtpd_sasl_security_options = {{ postfix_smtpd_sasl_security_options | join(', ') }}
smtpd_sasl_tls_security_options = {{ postfix_smtpd_sasl_tls_security_options | join(', ') }}
smtpd_tls_auth_only = yes
broken_sasl_auth_clients = yes

# TLS - SMTP Server
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}
smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}
smtpd_tls_mandatory_protocols = {{ postfix_smtpd_tls_mandatory_protocols | join(', ') }}
smtpd_tls_mandatory_ciphers = {{ postfix_smtpd_tls_mandatory_ciphers }}
smtpd_tls_mandatory_exclude_ciphers = {{ postfix_smtpd_tls_mandatory_exclude_ciphers | join(', ') }}
smtpd_tls_session_cache_database = {{ postfix_smtpd_tls_session_cache_database }}
tls_random_source = {{ postfix_tls_random_source }}

# TLS - SMTP Client
smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
smtp_tls_session_cache_database = {{ postfix_smtp_tls_session_cache_database }}
{% if postfix_mtastsresolver_socket is defined %}
smtp_tls_policy_maps = {{ postfix_mtastsresolver_socket }}
smtp_tls_CApath = /etc/ssl/certs/
{% endif %}

# Restrictions & Checks
disable_vrfy_command = yes

message_size_limit = {{ postfix_message_size_limit }}
mailbox_size_limit = {{ postfix_mailbox_size_limit }}

smtpd_sender_login_maps =
{% for restriction in postfix_smtpd_sender_login_maps %}
	{{ restriction }},
{% endfor %}
{% if postfix_postfixadmin_enable %}
	proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_maps.cf,
{% endif %}
smtpd_relay_restrictions =
{% for restriction in postfix_smtpd_relay_restrictions %}
	{{ restriction }},
{% endfor %}
smtpd_recipient_restrictions =
{% for restriction in postfix_smtpd_recipient_restrictions %}
	{{ restriction }},
{% endfor %}
smtpd_helo_required = {{ postfix_smtpd_helo_required }}
smtpd_helo_restrictions = 
{% for restriction in postfix_smtpd_helo_restrictions %}
	{{ restriction }},
{% endfor %}
# Postfix logs warnings when SASL is disabled, but authentication-related
# restrictions are applied.  So these are now empty by default and set in
# master.cf for SASL-enabled services, e.g. "submission".
_initial_sender_restrictions = 
smtpd_sender_restrictions =
{% for restriction in postfix_smtpd_sender_restrictions %}
	{{ restriction }},
{% endfor %}
smtpd_client_restrictions =
{% for restriction in postfix_smtpd_client_restrictions %}
	{{ restriction }},
{% endfor %}
smtpd_milters =
{% if postfix_spamassassin_enable %}
	{{ postfix_spamassassin_milter }},
{% endif %}
{% if postfix_opendkim_enable %}
	{{ postfix_opendkim_milter }},
{% endif %}
{% for milter in postfix_smtpd_milters %}
	{{ milter }},
{% endfor %}
non_smtpd_milters =
{% if postfix_opendkim_enable %}
	{{ postfix_opendkim_milter }},
{% endif %}
{% for milter in postfix_non_smtpd_milters %}
	{{ milter }},
{% endfor %}

header_checks =
{% for check in postfix_header_checks %}
	{{ check }},
{% endfor %}
body_checks =
{% for check in postfix_body_checks %}
	{{ check }},
{% endfor %}

always_add_missing_headers = {{ postfix_always_add_missing_headers | ternary('yes', 'no') }}
local_header_rewrite_clients = {{ postfix_local_header_rewrite_clients | join(',') }}

{% if postfix_srsd_enable %}
# PostSRSd (https://github.com/roehling/postsrsd)
{% if postfix_srsd_nodefault == false %}
{# you may want to set this for specific cleanup #}
sender_canonical_maps = {{ postfix_srsd_forward_lookup }}
{% endif %}
sender_canonical_classes = envelope_sender
recipient_canonical_maps = {{ postfix_srsd_reverse_lookup }}
recipient_canonical_classes= envelope_recipient,header_recipient
{% endif %}

{% if postfix_spamassassin_enable %}
# /usr/share/doc/spamass-milter/README.Debian.gz
# milter macros useful for spamass-milter
milter_connect_macros = j {daemon_name} v {if_name} _
milter_data_macros = j i {daemon_name} v {if_name} _
{% endif %}

{% if postfix_policyd_spf_enable %}
policy-spf_time_limit = {{ postfix_policyd_spf_time_limit }}
{% endif %}