{{ ansible_managed | comment }}
#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master" or
# on-line: http://www.postfix.org/master.5.html).
#
# Do not forget to execute "postfix reload" after editing this file.
#
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (no)    (never) (100)
# ==========================================================================
{% for process in (postfix_master_processes.values() | list + postfix_additional_master_processes) %}
{{ process.name }}	{{ process.type }}	{{ process.private | default(true) | ternary('y', 'n') }}	{{ process.unpriv | default(true) | ternary('y', 'n') }}	{{ process.chroot | default(true) | ternary('y', 'n') }}	{{ process.wakeup | default('-') }}	{{ process.maxproc | default('-') }}	{{ process.command | default(process.name) }}
{% for option in process.options | default([]) %}
	{{ option }}
{% endfor %}
{% endfor %}

{% if postfix_policyd_spf_enable %}
policyd-spf	unix	-	n	n	-	0	spawn
	user=policyd-spf argv=/usr/bin/policyd-spf
{% endif %}

{% if postfix_schleuder_enable %}
schleuder	unix	y	n	n	-	-	pipe
	flags=DRhu user=schleuder argv=/usr/bin/schleuder work ${recipient}
{% endif %}

{% if postfix_easywks_pipe_transport %}
gpgwks	unix	y	n	n	-	-	pipe
	flags=DRhu user=easywks argv=/usr/bin/easywks process
{% endif %}