{{ ansible_managed | comment }}

# This is the right place to customize your installation of SpamAssassin.
#
# See 'perldoc Mail::SpamAssassin::Conf' for details of what can be
# tweaked.
#
# Only a small subset of options are listed below
#
###########################################################################

#   Add *****SPAM***** to the Subject header of spam e-mails
#
rewrite_header Subject {{ spamassassin_rewrite_header_subject }}


#   Save spam messages as a message/rfc822 MIME attachment instead of
#   modifying the original message (0: off, 2: use text/plain instead)
#
report_safe {{ spamassassin_report_safe | ternary('1', '0') }}


#   Set which networks or hosts are considered 'trusted' by your mail
#   server (i.e. not spammers)
#
{% for net in spamassassin_internal_networks + spamassassin_trusted_networks %}
trusted_networks {{ net }}
{% endfor %}

{% for net in spamassassin_internal_networks %}
internal_networks {{ net }}
{% endfor %}


#   Set file-locking method (flock is not safe over NFS, but is faster)
#
lock_method {{ spamassassin_lock_method }}


#   Set the threshold at which a message is considered spam (default: 5.0)
#
required_score {{ spamassassin_required_score }}


#   Use Bayesian classifier (default: 1)
#
use_bayes {{ spamassassin_use_bayes | ternary('1', '0') }}


#   Bayesian classifier auto-learning (default: 1)
#
bayes_auto_learn {{ spamassassin_bayes_auto_learn | ternary('1', '0') }}
bayes_path {{ spamassassin_bayes_path }}
bayes_file_mode {{ spamassassin_bayes_file_mode }}


#   Set headers which may provide inappropriate cues to the Bayesian
#   classifier
#
{% for header in spamassassin_bayes_ignore_header %}
bayes_ignore_header {{ header }}
{% endfor %}


#   Whether to decode non- UTF-8 and non-ASCII textual parts and recode
#   them to UTF-8 before the text is given over to rules processing.
#
normalize_charset {{ spamassassin_normalize_charset | ternary('1', '0') }}

# body_part_scan_size and rawbody_part_scan_size are only available
# starting with SA 3.4.3

#   Textual body scan limit    (default: 50000)
#
#   Amount of data per email text/* mimepart, that will be run through body
#   rules.  This enables safer and faster scanning of large messages,
#   perhaps having very large textual attachments.  There should be no need
#   to change this well tested default.
#
#body_part_scan_size {{ spamassassin_body_part_scan_size }}

#   Textual rawbody data scan limit    (default: 500000)
#
#   Amount of data per email text/* mimepart, that will be run through
#   rawbody rules.
#
#rawbody_part_scan_size {{ spamassassin_rawbody_part_scan_size }}

#   Some shortcircuiting, if the plugin is enabled
# 
ifplugin Mail::SpamAssassin::Plugin::Shortcircuit

{% for rule, effect in spamassassin_shortcircuit.items() %}
shortcircuit {{ rule }}	{{ effect }}
{% endfor %}

endif # Mail::SpamAssassin::Plugin::Shortcircuit

{{ spamassassin_additional_config }}